html {
  font-family: Roboto, sans-serif;;
}

.main-title {
  text-align: center;
  font-size: 6vh;
}

.movie-div {
  text-align: center;
  border: 5px solid #2D719C;
  border-radius: 10px;
  width: 35%;
  margin: 3% auto;
}

.movie-info {
  display: inline-block;
}

.movie-title {
font-size: 4vh;
}
